* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	/* overflow: hidden; */
}

body {
	font-family: "Blinker", sans-serif;
}

.main {
	width: 100vw;
}

.navbar {
	background: #fff;
	box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.23);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
}

.nav-container {
	align-items: center;
	display: flex;
	height: 6rem;
	justify-content: center;
}

a {
	color: #000;
	text-decoration: none;
}

.logo-img {
	cursor: pointer;
	height: auto;
	width: 5rem;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 8rem auto;
	margin-bottom: 6rem;
	max-width: 400px;
}

.login-title {
	text-transform: uppercase;
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

form input {
	width: 100%;
	line-height: 1rem;
	margin-top: 0.4rem;
	margin-bottom: 1.4rem;
	padding: 0.6rem 0.5rem;
	font-size: 1rem;
}

label {
	font-size: 1rem;
}

button {
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 0.7rem 1.4rem;
	text-transform: uppercase;
}

.text-signup {
	margin-top: 1.4rem;
	font-size: 1.1rem;
}

.text-signup a {
	text-decoration: underline;
	transition: all 0.2s ease-in;
}

.text-signup a:hover {
	color: rgb(209, 39, 39);
}

button:hover {
	background-color: #fff;
	outline: 2px solid #000;
	color: #000;
}

footer {
	background-color: #000;
	flex-direction: column;
	height: 7rem;
}

.footer-links,
footer {
	display: flex;
	justify-content: center;
	text-align: center;
}

.love {
	color: #fff;
	font-size: 1.5rem;
	margin-top: 1rem;
}
