* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Blinker", sans-serif;
}

.main {
	width: 100vw;
}

.navbar {
	background: #fff;
	box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.23);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
}

.nav-container {
	align-items: center;
	display: flex;
	height: 6rem;
	justify-content: space-between;
}

a {
	color: #000;
	text-decoration: none;
}

.logo-img {
	cursor: pointer;
	height: auto;
	width: 5rem;
}

.nav-links {
	display: flex;
	font-size: 1.4rem;
	gap: 2.5rem;
	text-transform: uppercase;
}

.nav-links a {
	color: #000;
	text-decoration: none;
}

.home-container {
	padding-top: 10rem;
}

.grid-container {
	grid-gap: 1.3rem;
	display: grid;
	gap: 1.3rem;
	grid-template-areas:
		"one two four"
		"one two four-low";
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 30rem;
	margin-top: 1.3rem;
}

.featured {
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.lil-overlay {
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.2s ease-in;
	width: 100%;
}

.lil-overlay:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.featured img {
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
}

.main-description {
	bottom: 2rem;
	color: #fff;
	font-size: 2rem;
	font-weight: 600;
	left: 1.4rem;
	position: absolute;
}

.grid-one {
	grid-area: one;
}

.grid-two {
	grid-area: two;
}

.grid-four {
	grid-area: four;
}

.grid-four-low {
	grid-area: four-low;
}

.proud-container {
	padding: 8rem 0;
}

.proud-h2 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 3rem !important;
}

.products-grid {
	grid-gap: 2rem;
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
	cursor: pointer;
	outline: 2px solid rgba(0, 0, 0, 0.205);
	outline-offset: -2px;
}

.product:hover {
	outline: 2px solid rgba(0, 0, 0, 0.6);
}

.product-header img {
	width: 100%;
}

.product-details {
	font-size: 1.2rem;
	padding: 1rem;
}

.trending {
	padding-bottom: 6rem;
}

.title-btns {
	display: flex;
	justify-content: space-between;
}

.trending h3 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 3rem !important;
}

.row-container {
	display: flex;
	gap: 2.2rem;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 1rem 0.6rem;
	position: relative;
	scroll-behavior: smooth;
	white-space: nowrap;
}

.row-item {
	cursor: pointer;
	transition: all 0.2s ease-in;
	outline: 2px solid rgba(0, 0, 0, 0.205);
}

.row-item:hover {
	outline: 2px solid rgba(0, 0, 0, 0.6);
}

.item-header img {
	width: 16rem;
}

.item-description {
	font-size: 1.2rem;
	padding: 1rem;
}

.item-price {
	font-size: 1.4rem;
	font-weight: 600;
	margin-top: 1.2rem;
}

.banner {
	padding-bottom: 8rem;
}

.banner-container-reverse {
	flex-direction: row-reverse;
}

.banner-container,
.banner-container-reverse {
	display: flex;
	height: 32rem;
	justify-content: space-between;
	overflow: hidden;
}

.text-side {
	align-items: center;
	background-color: #e9e9e9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 6rem;
	text-align: start;
	width: 50%;
}

.text-side h2 {
	font-size: 2.8rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.text-side p {
	font-size: 1.6rem;
}

.text button {
	background-color: #000;
	border: 2px solid #000;
	color: #fff;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: 2rem;
	padding: 1rem;
	transition: all 0.2s ease-in;
	text-transform: uppercase;
}

.text button:hover {
	background-color: #fff;
	border: 2px solid #000;
	color: #000;
}

.img-side {
	background-color: #e9e9e9;
	text-align: end;
	width: 50%;
}

.img-side img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.news {
	align-items: center;
	background-color: #191919;
	display: flex;
	flex-direction: column;
	height: 12rem;
	justify-content: center;
}

.news-text {
	text-align: center;
}

.news h2 {
	color: #fff;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.news button,
.news input {
	border: none;
	font-size: 1.2rem;
	padding: 0.4rem;
}

.news input {
	margin-right: 0.7rem;
	outline: none;
}

.news button {
	cursor: pointer;
}

footer {
	background-color: #000;
	flex-direction: column;
	height: 12rem;
}

.footer-links,
footer {
	display: flex;
	justify-content: center;
	text-align: center;
}

.footer-links {
	flex-wrap: wrap;
	gap: 2rem;
}

.footer-links a {
	color: #fff;
	font-size: 1.2rem;
	text-decoration: none;
}

.love {
	color: #fff;
	font-size: 1.2rem;
	margin-top: 2rem;
}
